langchain>=1.2.0
langchain-core>=1.2.0
langchain-openai>=0.4
langchain-community>=0.4
langchain-classic>=1.0
faiss-cpu
rank_bm25
sentence-transformers
# pip install youtube-transcript-api
# pip install pytube
# pip install transformers
# pip install docx2txt
ddgs>=9.11.4
trafilatura>=2.0.0
pydantic>=2.12.5
pydantic-settings>=2.13.1
python-dotenv>=1.2.2
yfinance>=1.2.0
pandas>=3.0.1
requests>=2.32.5
pypdf>=6.9.1